body {
    background-image: url('https://www.slate.fr/sites/default/files/styles/1060x523/public/cinema-prix-billets.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
  }
main{
    background-color: #0000008e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}
.card{
    max-width: 400px;
    margin-left: 15px;
}

label{
    color: white;
}